.header-pengunjung {
    overflow: hidden;
    background-color: white;
    padding: 12px 10px;
    width: 100%;
    position: fixed;
    top: 0;
  }
  
  .header-pengunjung a {
    /* text-decoration: none;
    color: #f46400;
    font-size: 24px;
    font-family: Roboto Condensed;
    margin: 10px; */

    float: left;
    color: #f46400;
    padding: 12px;
    text-decoration: none;
    font-size: 24px; 
    line-height: 25px;
    margin-right: 10px;
    font-family: Roboto Condensed;
    /* margin-top: 7px; */
  }
  
  .header-pengunjung h3.logo {
    font-size: 30px;
    font-weight: bold;
    color: #f46400;
    font-family: Rosario;
  }
  
  .header-pengunjung a:hover {
    color: #c0c0c0;
  }
  
  .header-pengunjung-kanan {
    float: right;
  }
  
  .svg-inline--fa.fa-w-14{
    color: #f46400;
    font-size: 25px;
    margin-right: 10px;
  }
  
  .svg-inline--fa.fa-sign-out-alt.fa-w-16 {
    color: #f46400;
    font-size: 25px;
    margin-right: 10px;
    margin-top: 13px;
  }