.konten-tabel-pengembalian{
    margin : 5% 2%
}

.konten-tabel-pengembalian h5{
    text-align: center;
    font-family: Rosaria;
    color: #f46400;
    font-weight: bold;
}

.tombol-pengembalian-admin{
    height: 30%;
    width: 30%;
    border-radius: 5px;
    background-color: #f09e64;
    color: white;
}

.tombol-pengembalian-admin :focus{
    outline: none;
}