.header-admin {
  overflow: hidden;
  background-color: white;
  padding: 12px 10px;
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 10;
}

.header-admin a {
  float: left;
  color: #f46400;
  padding: 12px;
  text-decoration: none;
  font-size: 24px; 
  line-height: 25px;
  margin-right: 10px;
  font-family: Roboto Condensed;
}

.header-admin h3.logo {
  font-size: 30px;
  font-weight: bold;
  color: #f46400;
  font-family: Rosario;
}

.header-admin a:hover {
  color: #c0c0c0;
}

.header-admin-kanan {
  float: right;
}

.svg-inline--fa.fa-w-16 {
  color: #f46400;
  font-size: 25px;
}
