.semua-home-pengunjung {
    margin-top: 7%;
    height: 89vh;
    background-color: #e5e5e5;
  }
  
  .filter-home-pengunjung{
    margin-left: 80px;
    padding-top: 10px;
  }
  
  .semua-home-pengunjung input{
    border-radius: 5px;
    outline: none;
  }
  
  .home-pengunjung-1 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  
  .home-pengunjung-1 .box-home-pengunjung {
    background-color: white;
    height: 200px;
    width: 30%;
    box-shadow: 2px 2px 10px #777;
    padding: 10px;
    margin: 10px 80px 5px;
    border-radius: 10px;
  }
  
  .home-pengunjung-1 h4{
    margin-left: 60px;
  }
  
  .home-pengunjung-2 {
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  
  .home-pengunjung-2 .box-home-pengunjung {
    background-color: white;
    height: 200px;
    width: 30%;
    box-shadow: 2px 2px 10px #777;
    padding: 10px;
    margin-left: 80px;
    border-radius: 10px;
  }
  
  .home-pengunjung-2 img{
    width: 27%;
    border-radius: 20px;
    margin-right: 80px;
    margin-top: -20px;
  }
  
  .home-pengunjung-2 h4{
    margin-left: 60px;
  }
  
  .box-home-pengunjung img {
    width: 70%;
  }
  
  .home-pengunjung-2 img{
    margin-top: 5px;
  }