.grid-detailbuku-adm {
    display: grid;
    grid-template-columns: 40% 60%;
    grid-template-rows: 1fr;
    gap: 0px 0px;
    grid-template-areas:
      ". .";
  }

  .grid-detailbuku-adm h4{
      margin-bottom: 20px;
      font-weight: bold;
      color: #f46400;
  }
  .detailbuku-adm-kanan{
      padding: 5px;
  }

  .judul-detailbuku{
      font-size: 12px;
      font-weight: bold ;
      margin-top: -8px;
  }

  .keterangan-detailbuku{
      font-size: 14px;
      margin-top: -20px;
  }

  .grid-detailbuku-adm button{
    text-align: center;
    border: none;
    border-radius: 6px;
    width: 115px;
    height: 40px;
    background: #f46400;
    font-family: Roboto Condensed;
    font-weight: bold;
    font-size: 20px;
    color: #ffffff;
    margin-right: 10px;
  }