.semua-editbuku{
    background-color: #E5E5E5;
  }
  
  .grid-container-editbuku {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 1fr;
    gap: 1px 1px;
    grid-template-areas: '. .';
  }
  
  .judul-editbuku {
    text-align: center;
    font-family: Roboto Condensed;
    color: #f46400;
  }
  
  .grid-container-editbuku label option {
    font-size: 15px;
    font-family: Roboto Condensed;
    color: #f46400;
  }
  
  .grid-container-editbuku input {
    width: 70%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 3px solid #ccc;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    outline: none;
  }
  
  .grid-container-editbuku input :focus {
    border: 3px solid black;
    border-color: black;
  }
  
  .grid-container-editbuku select {
    width: 70%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 3px solid #ccc;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    outline: none;
  }
  
  .grid-container-editbuku textarea {
    width: 70%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 3px solid #ccc;
  }
  
  .bagian-kiri-editbuku {
    margin: 20px;
  }
  
  .bagian-kanan-editbuku {
    margin: 20px;
  }
  
  .simpan-editbuku {
    text-align: center;
    border: none;
    border-radius: 6px;
    width: 115px;
    height: 40px;
    background: #f46400;
    font-family: Roboto Condensed;
    font-weight: bold;
    font-size: 20px;
    color: #ffffff;
  }