.semua-tambahbuku {
  margin-top: 60px;
  background-color: #e5e5e5;
  height: 100%;
}

.grid-container-tambahbuku {
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: 1fr;
  gap: 1px 1px;
  grid-template-areas: '. .';
}

.judul-tambahbuku {
  text-align: center;
  font-family: Roboto Condensed;
  color: #f46400;
  font-size: 25px;
  padding-top: 15px;
  font-weight: bold;
}

.grid-container-tambahbuku label option {
  font-size: 15px;
  font-family: Roboto Condensed;
  color: #f46400;
}

.grid-container-tambahbuku input {
  width: 70%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  border: 3px solid #ccc;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  outline: none;
}

.grid-container-tambahbuku input :focus {
  border: 3px solid black;
  border-color: black;
}

.grid-container-tambahbuku select {
  width: 70%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  border: 3px solid #ccc;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  outline: none;
}

.grid-container-tambahbuku textarea {
  width: 70%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  border: 3px solid #ccc;
}

.bagian-kiri-tambahbuku {
  margin: 20px 0 0 70px;
}

.bagian-kanan-tambahbuku {
  margin: 20px 0 20px 0;
}

.simpan-tambahbuku {
  text-align: center;
  border: none;
  border-radius: 6px;
  width: 115px;
  height: 40px;
  background: #f46400;
  font-family: Roboto Condensed;
  font-weight: bold;
  font-size: 20px;
  color: #ffffff;
  margin-left: 90%;
}