* {
  margin: 0;
  padding: 0;
}
.semua-tampilbuku {
  background-color: #e5e5e5;
  height: 100%;
  margin-top: 80px;
}

.tombol-tambahbuku {
  margin-top: 20px;
  margin-left: 100px;
  background: white;
  font-family: Rubik;
  font-size: 15px;
  font-weight: bold;
  color: #f46400;
  width: 170px;
  height: 40px;
  border-color: #ffffff;
  border-radius: 10px;
}

.grid-container-tampilbuku-adm {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  padding: 30px;
  background-color: #e5e5e5;
}

.card {
  margin: 5px;
  width: 230px;
  border: 1px solid #c0c0c0;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 1000px;
  /* background-color: #f46400; */
}

.grid-container-tampilbuku-adm.imageContent {
  border-radius: 100px;
  width: 90%;
  height: 220px;
}

.imageContent img{
  border-radius: 50px;
  height: 500px;
  background-color: #f46400;
}

.card-name {
  width: 100%;
  text-align: left;
  background-color: #f46400;
  justify-content: left;
}

.card-name h4 {
  background-color: aliceblue;
  text-align: center;
}

.judulbuku {
  height: 50px;
  text-align: justify;
  margin: 3px;
}

.konten-pencarian-buku-admin {
  float: right;
  margin-top: 20px;
  margin-left: 80%;
  /* position: fixed; */
  display: flex;
  height: 30px;
  align-items: center;
  box-sizing: border-box;
  /* align-content: center; */
}

.sticky{
  position: fixed;
  z-index: 10;
}

.konten-pencarian-buku-admin button {
  padding: 1.4px 10px;
  margin-top: 0px;
  margin-right: 100px;
  background: #ddd;
  font-size: 17px;
  color: #f46400;
  border: none;
  cursor: pointer;
}

.konten-pencarian-buku-admin button:hover {
  background: #ccc;
}
