.semua-keranjang{
  height: 100%;
  background-color: #e5e5e5;
  margin-top: 65px;
}
.grid-container-keranjang {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    padding: 30px;
    
  }
  
  .card-keranjang {
    margin: 5px;
    width: 230px;
    border: 1px solid #c0c0c0;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .grid-container-tampilbuku-adm .card .imageContent {
    width: 100%;
    height: 220px;
  }
  
  .card-name-keranjang {
    width: 100%;
    text-align: left;
    background-color: #f46400;
    justify-content: left;
  }
  
  .card-name-keranjang h4 {
    background-color: aliceblue;
    text-align: center;
  }
  
  .judulbuku {
    height: 50px;
    text-align: justify;
    margin: 3px;
  }

  .svg-inline--fa.fa-trash-alt.fa-w-14{
    justify-content: center;
    color: white;
    margin: 6px 90px;
    font-size: 40px;
  }

  .bawah-keranjang{
    display: flex;
    justify-content: flex-end;

  }
  .bawah-keranjang button{
    height: 50px;
    background-color: #f46400;
    outline: none;
    border-radius: 5px;
    padding: 5px;
    margin: 10px;
  }