.semua-editpengguna {
  background-color: #e5e5e5;
  height: 100%;
}

.grid-container-editpengguna {
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: 1fr;
  gap: 1px 1px;
  grid-template-areas: '. .';
}

.judul-editpengguna {
  margin-left: 518px;
  font-family: Roboto Condensed;
  color: #f46400;
  font-size: 22px;
  margin-top: 5%;
  padding-top: 1%;
  font-weight: bold;
}

.grid-container-editpengguna label {
  font-size: 15px;
  font-family: Roboto Condensed;
  color: #f46400;
}

.grid-container-editpengguna input {
  width: 70%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  border: 3px solid #ccc;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  outline: none;
}

.grid-container-editpengguna input :focus {
  border: 3px solid black;
  border-color: black;
}

.grid-container-editpengguna select {
  width: 70%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  border: 3px solid #ccc;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  outline: none;
}

.grid-container-editpengguna textarea {
  width: 70%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  border: 3px solid #ccc;
}

.bagian-kiri-editpengguna {
  margin: 20px 20px 6px 30px;
}

.bagian-kanan-editpengguna {
  margin: 20px 20px 6px 110px;
}

.simpan-editpengguna {
  border: none;
  border-radius: 6px;
  width: 115px;
  height: 40px;
  background: #f46400;
  font-family: Roboto Condensed;
  font-weight: bold;
  font-size: 20px;
  color: #ffffff;
  margin-left: 550px;
  margin-top: -100px;
}
