.custom-select {
  margin-left: -30px !important;
}

.table-bordered thead td,
.table-bordered thead th {
  background-color: #F46400;
}

table.table th, table.table td {
  padding-top: 1.1rem;
  padding-bottom: 2px !important;
}

.dataTables_scrollHead{
  margin-bottom: -20px;
}

.dataTables_scrollHeadInner{
padding-right: 0px !important;
}

.konten-tabel-pengguna{
  margin: 20px;
}

.tombol-tambahdata-admin{
  height: 50px;
  width: 10%;
  border-radius: 10px;
  color: #ffffff;
  background-color: #F46400;
  margin: 8% 0 -10% 1%;
  border-color: #ffffff;
  font-size: 14px;
}

.tombol-detailpengguna-admin{
  height: 50px;
  width: 50%;
  border-radius: 10px;
  color: blue;
  background-color: #ffffff;;
  margin-right: 10px;
  margin-bottom: 10px;
  border-color: #ffffff;
  font-size: 16px;
}