.semua-tambahadmin {
  background-color: #e5e5e5;
  height: 89vh;
}

.grid-container-tambahadmin {
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: 1fr;
  gap: 1px 1px;
  grid-template-areas: '. .';
}

.konten-tambahadmin{
  margin-top: 5%;
}

.judul-tambahadmin {
  margin-left: 525px;
  font-family: Roboto Condensed;
  color: #f46400;
  font-size: 20px;
  padding-top: 15px;
  font-weight: bold;
}

.grid-container-tambahadmin label {
  font-size: 15px;
  font-family: Roboto Condensed;
  color: #f46400;
}

.grid-container-tambahadmin input {
  width: 70%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  border: 3px solid #ccc;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  outline: none;
}

.grid-container-tambahadmin input :focus {
  border: 3px solid black;
  border-color: black;
}

.grid-container-tambahadmin select {
  width: 18%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  border: 3px solid #ccc;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  outline: none;
}

.grid-container-tambahadmin textarea {
  width: 70%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  border: 3px solid #ccc;
}

.bagian-kiri-tambahadmin {
  margin: 20px 20px 6px 30px;
}

.bagian-kanan-tambahadmin {
  margin: 20px 20px 6px 110px;
}

.simpan-tambahadmin {
  border: none;
  border-radius: 6px;
  width: 115px;
  height: 40px;
  background: #f46400;
  font-family: Roboto Condensed;
  font-weight: bold;
  font-size: 20px;
  color: #ffffff;
  margin-left: 550px;
  margin-top: 0px;
}
