/* .header {
  overflow: hidden;
  background-color: #f1f1f1;
  padding: 20px 10px;
  height: 5%;
} */

.header a {
  color: #f46400;
  font-size: 15px; 
  border-radius: 4px;
  float: right;
}

.header .logo {
  font-size: 25px;
  font-weight: bold;
  color: #f46400;
  margin: 20px;
}

.header a:hover {
  background-color: #f46400;
  color: white;
}


.grid-container {
    display: grid;
    grid-template-columns: 40% 50%;
    grid-template-rows: 1fr;
    gap: 1px 1px;
    grid-template-areas: '. .';
  }

  .bagian-kiri-daftar img{
    margin: 100px;
    width: 70%;
  }

  .bagian-kanan-daftar {
    margin-left: 120px;
    color: #f46400;
    font-family: Roboto Condensed;
  }
  
  .bagian-kanan-daftar p{
    font-family: Rubik;
    font-size: 22px;
    font-weight: bold;
  }

  .bagian-kanan-daftar label{
    font-size: 15px;
    font-family: Rubik;
  }

  .bagian-kanan-daftar input{
    border-radius: 5px;
    border-color: #f46400;
    width: 400px;
    height: 40px;
    margin: 5px;
  }
  
  .tombol-submit-daftar {
    border: none;
    border-radius: 10px;
    width: 115px;
    height: 45px;
    margin-top: 20px;
    background: #f46400;
    font-family: Roboto Condensed;
    font-weight: bold;
    font-size: 20px;
    color: #ffffff;
  }
  