.semua-editprofil {
    background-color: #e5e5e5;
    height: 100%;
  }
  
  .grid-container-editprofil {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 1fr;
    gap: 1px 1px;
    grid-template-areas: '. .';
  }
  
  .judul-editprofil {
    margin-left: 525px;
    font-family: Roboto Condensed;
    color: #f46400;
    font-size: 20px;
    font-weight: bold;
    margin-top: 60px;
  }
  
  .grid-container-editprofil label {
    font-size: 15px;
    font-family: Roboto Condensed;
    color: #f46400;
  }
  
  .grid-container-editprofil input {
    width: 70%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 3px solid #ccc;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    outline: none;
  }
  
  .grid-container-editprofil input :focus {
    border: 3px solid black;
    border-color: black;
  }
  
  .grid-container-editprofil select {
    width: 70%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 3px solid #ccc;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    outline: none;
  }
  
  .grid-container-editprofil textarea {
    width: 70%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 3px solid #ccc;
  }
  
  .bagian-kiri-editprofil {
    margin: 20px 20px 6px 30px;
  }
  
  .bagian-kanan-editprofil {
    margin: 20px 20px 6px 110px;
  }
  
  .simpan-editprofil {
    border: none;
    border-radius: 6px;
    width: 115px;
    height: 40px;
    background: #f46400;
    font-family: Roboto Condensed;
    font-weight: bold;
    font-size: 20px;
    color: #ffffff;
    margin-left: 550px;
    margin-top: 0px;
  }
  