.halaman-profil-admin {
  background: #e5e5e5;
  padding-top: 80px;
  height: 100vh;
  display: flex;
  justify-content: center;
}

.card-profil-adm h4{
  font-size: 20px;
  margin: 5px 10px;
  border-radius: 5px;
  /* color: #cecece; */
}

.card-profil-adm {
  width: 30%;
  text-align: center;
  background-color: #fd9e5d;
  border-radius: 17px;
  box-shadow: 2px 2px 8px #777;
  /* text-align: center; */
  /* margin-top: 90px; */
  /* margin: 80px auto 10px 35%; */
  /* position: absolute; */
  height: 98%;
}

.card-profil-adm img {
  width: 100%;
  margin-left: 90px;
  height: 20%;
  border-radius: 50%;
}
.card-image-profiladm {
  width: 50%;
  border-radius: 50%;
}

.card-nama-profil-adm h4 {
  background-color: aliceblue;
  text-align: center;
  font-weight: bold;
  font-family: Rubik;
  color: #575554;
}

.card-nama-profil-adm p{
  font-size: 16px;
  font-weight: bold;
}

.ubah-profil-adm {
  background-color: white;
  border-radius: 5px;
  height: 30px;
  border:none;
  margin-right: 5px;
  padding: 0 5px;
  color: red;
}

.ubah-password-adm {
  background-color: red;
  margin-left: 5px;
  border-radius: 5px;
  height: 30px;
  border-color: red;
  border: none;
  padding: 0 5px;
  color: white;

  
}

.card-nama-profil-adm p{
  border-bottom: solid .5px #0000006e;
  margin: 15px 10px;
  color: rgb(42, 44, 63);
  font-weight: lighter;
}

.card-profil-adm button{
  margin-top: 20px;
}
