.card-ubahpass-adm {
  width: 30%;
  background-color: #ffa25f;
  height: 400px;
  border-radius: 17px;
  margin: 20px auto 10px 35%;
  /* position: absolute; */
  padding: 10px 20px;
  box-shadow: 2px 2px 8px #777;
}

.card-ubahpass-adm h3 {
  text-align: center;
  margin-bottom: 1px;
}

.card-ubahpass-adm button {
  border: none;
  border-radius: 6px;
  width: 115px;
  height: 40px;
  background: #f46400;
  font-family: Roboto Condensed;
  font-weight: bold;
  font-size: 20px;
  color: #ffffff;
  margin-top: 10px;
  margin-left: 110px;
}

.card-ubahpass-adm input {
  outline: none;
  width: 100%;
  background: none;
  border-radius: 5px;
  height: 35px;
  border: solid 1px #cecdcd;
  padding: 0 20px;
  color: #313131;
  margin-bottom: 5px;
}

.validasi{
  font-size: 10px;
  color: red;
  font-weight: bold;
}