.Mgrid-container {
  display: grid;
  grid-template-columns: 25% 25% 25% 25%;
  grid-template-rows: 25% 25% 25% 25%;
  gap: 0px 0px;
  grid-template-areas:
    'a a b b'
    'c c d d'
    'c c d d';
}
.Ma {
  grid-area: a;
  font-size: 30px;
  font-weight: bold;
  color: #f46400;
  font-family: Rosario;
  margin: 15px;
}
.Mb {
  grid-area: b;
  background-color: #fd9e5d;
  font-family: Rubik;
  outline: none;
}

.Mc {
  grid-area: c;
  text-align: center;
}

.Mc img{
  width: 60%;
}

.Md {
  grid-area: d;
  background-color: #fd9e5d;
  text-align: center;
  height: 77.2vh;
}

.Mteks{
  text-align: center;
  font-family: Rubik;
  font-size: 36px;
  color: #ffffff;
  margin-top: -3px;
}

.Mteks2{
  font-size: 20px;
  text-align: center;
  font-family: Rubik;
  color: #ffffff;
  margin-top: -30px;
  margin-bottom: 40px;
}

.Md label{
  margin-left: -225px;
  font-size: 20px;
  color: #ffffff;
  margin-top: 10px;
  font-family: Rubik;
}

.Md input{
  margin-top: 5px;
  margin-bottom: 10px;
  height: 35px;
  width: 50%;
  text-align: center;
}

.tombol-daftar {
  border-color: #ffffff;
  border-radius: 20px;
  width: 100px;
  height: 40px;
  float: right;
  margin: 20px;
  background: #fd9e5d;
  font-family: Roboto Condensed;
  font-size: 20px;
  color: #ffffff;
  outline: none;
}

.tombol-submit-login{
  margin-top: 20px;
  background: white;
  font-family: Rubik;
  font-size: 20px;
  color: #fd9e5d;
  width: 115px;
  height: 45px;
  border-color: #ffffff;
  border-radius: 10px;
}
