.header-awal {
  overflow: hidden;
  background-color: #f1f1f1;
  padding: 20px 10px;
}

.header-awal a {
  float: left;
  color: black;
  text-align: center;
  padding: 12px;
  text-decoration: none;
  font-size: 18px;
  line-height: 0px;
  border-radius: 4px;
}

.header-awal a.logo {
  font-size: 30px;
  font-weight: bold;
  color: #f46400;
  font-family: Rosario;
}

.header-awal a:hover {
  background-color: #f46400;
  color: white;
}

.header-awal-kanan {
  float: right;
}

.grid-container {
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: 1fr;
  gap: 1px 1px;
  grid-template-areas: '. .';
}

.container-kanan {
  margin: 50px;
}

.awalImage {
  width: 80%;
  margin-top: 20px;
  margin-left: 100px;
}

.container-kiri {
  margin-left: 170px;
}

.hai{
  font-size: 36px;
  font-weight: bold;
  color: #f46400;
  font-family: Roboto Condensed;
  margin-top: 150px;
  margin-bottom: 0;
}

.slogan {
  font-size: 25px;
  color: #f46400;
  font-family: Roboto Condensed;
  margin-top: 10px;
}
