.semua-detailbuku-pengunjung{
  margin-top: 70px;
}

.grid-detailbuku-pengunjung {
  display: grid;
  grid-template-columns: 40% 60%;
  grid-template-rows: 1fr;
  gap: 0px 0px;
  grid-template-areas: '. .';
}

.grid-detailbuku-pengunjung h4 {
  margin-bottom: 20px;
  font-weight: bold;
  color: #f46400;
}
.detailbuku-pengunjung-kanan {
  padding: 5px;
  margin-top: 30px;
}

.grid-detailbuku-pengunjung button {
  text-align: center;
  border: none;
  border-radius: 6px;
  width: 50px;
  height: 40px;
  background: #f46400;
  font-family: Roboto Condensed;
  font-weight: bold;
  font-size: 20px;
  color: #ffffff;
  margin-right: 10px;
}

.grid-detailbuku-pengunjung button:focus {
  outline: none;
}
