* {
  margin: 0;
  padding: 0;
}
.semua-tampilbuku-pengunjung {
  background-color: #e5e5e5;
  height: 100%;
  margin-top: 50px;
}

.grid-container-tampilbuku-pengunjung {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  padding: 30px;
  /* margin: 0 30px; */
  background-color: #e5e5e5;
  /* margin-top: 90px; */
}

.cardContainer-pengunjung{
  margin-top: 20px;
}

.card-pengunjung {
  margin: 5px;
  width: 230px;
  border: 1px solid #c0c0c0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.card-image img {
  width: 100%;
}

.grid-container-tampilbuku-pengunjung .card .imageContent {
  width: 100%;
  height: 220px;
}

.card-name-pengunjung {
  width: 100%;
  text-align: left;
  background-color: #f46400;
  justify-content: left;
}

.card-name-pengunjung h4 {
  background-color: aliceblue;
  text-align: center;
}

.judulbuku-pengunjung {
  height: 50px;
  text-align: justify;
  margin: 3px;
}

.konten-pencarian-buku-pengunjung {
  float: right;
  margin-top: 20px;
  margin-left: 80%;
  /* position: fixed; */
  display: flex;
  height: 30px;
  align-items: center;
  box-sizing: border-box;
  /* align-content: center; */
}

.sticky {
  position: fixed;
  z-index: 10;
}

.konten-pencarian-buku-pengunjung button {
  padding: 1.4px 10px;
  margin-top: 0px;
  margin-right: 100px;
  background: #ddd;
  font-size: 17px;
  color: #f46400;
  border: none;
  cursor: pointer;
}

.konten-pencarian-buku-pengunjung button:hover {
  background: #ccc;
}
